<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>Search Results</h1>

<section>
  <h2>Movies</h2>
  <% movies.forEach(movie => { %>
  <div class="result-card">
    <h3><%= movie.title %></h3>
    <p>Director: <%= movie.director %></p>
  </div>
  <% }) %>
</section>

<%- include('partials/footer') %>