<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>Search Results</h1>

<section>
  <h2>Songs</h2>
  <% songs.forEach(song => { %>
  <div class="result-card">
    <h3><%= song.name %></h3>
    <% song.artists.forEach(artist => { %>
    <p>Artist: <%= artist.name %></p>
    <% }) %>
  </div>
  <% }) %>
</section>

<%- include('partials/footer') %>