<%- include('partials/head') %>
<%- include('partials/nav') %>

<% if (error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
<% } else { %>

    <form action="/addToPlaylist" method="POST">
        <input type="hidden" name="spotify_id" value="<%= track.id %>">
        <input type="hidden" name="song_title" value="<%= track.name %>">
        <input type="hidden" name="artist_name" value="<%= track.artists.map(a=> a.name).join(", ") %>">

        <div class="movie-card">
            <img class="movie-poster" src="<%=track.album.images[0].url%>"
                alt="<%= track.name %> album cover">
            <div class="movie-info">
                <h2 class="movie-title">
                    <%= track.name %>
                </h2>
                <p class="movie-genre">
                    <%= track.artists.map(a=> a.name).join(", ") %>
                </p>
                <p class="movie-year">
                    Release Date: <%= track.album.release_date %>
                </p>
                <select name="playlist_id">
                    <% for (let playlist of playlists) { %>
                        <option value="<%=playlist.playlist_id%>">
                            <%=playlist.playlist_name%>
                        </option>
                        <% } %>
                </select>
                <button class="btn btn-secondary">Add to Playlist</button>
            </div>
        </div>
    </form>
    <% if (movie) { %>
        <div class="movie-card">
          <img
            class="movie-poster"
            src="<%= movie.Poster !== 'N/A' ? movie.Poster : 'img/no-poster.png' %>"
            alt="<%= movie.Title %> poster"
          >
          <div class="movie-info">
            <h2 class="movie-title"><%= movie.Title %></h2>
            <p class="movie-year"><%= movie.Year %></p>
            <p class="movie-genre"><%= movie.Genre %></p>
            <p class="movie-rated"><%= movie.Rated %></p>
            <p class="movie-plot"><%= movie.Plot %></p>
          </div>
        </div>
      <% } %>

<% } %>

<%- include('partials/footer') %>