<%- include('partials/head') %> <%- include('partials/nav') %>

<h1>Search Results</h1>

<section>
  <h2>Songs</h2>
  <% songs.forEach(song => { %>
  <div class="result-card card p-3 mb-3 shadow-sm"
      data-song-id="<%= song.id %>"
      data-song-data="<%= encodeURIComponent(JSON.stringify(song)) %>">
    <h3><%= song.name %></h3>
    <% song.artists.forEach(artist => { %>
    <p>Artist: <%= artist.name %></p>
    <% }) %>
  </div>
  <% }) %>
</section>

<script>
    let songs = document.querySelectorAll(".result-card");
    songs.forEach(song => {
        song.addEventListener("click", openSongPage);
    });

    function openSongPage() {
      const songId = this.dataset.songId;
      const songData = this.dataset.songData;
      window.location.href = `/song?data=${encodeURIComponent(songData)}`;
    }
</script>

<%- include('partials/footer') %>